src/main/mule/deleteEmployeeById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="deleteEmployeeByIdFlow" doc:id="8e60a0aa-8932-49d6-b7a1-d36064647a51" >
		<http:listener doc:name="Listener" doc:id="064e0d23-40dc-457b-b222-a250b9731360" config-ref="HTTP_Listener_config" path="/deleteEmployee/{id}"/>
		<db:delete doc:name="Delete" doc:id="c85d061c-e1e3-4868-9ad6-9ddfbc091502" config-ref="Database_Config">
			<db:sql >DELETE FROM employee WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: attributes.uriParams.id
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="9afbbaed-0ae4-408f-be9d-a503bbe2174d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Employee deleted sucessfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
