src/main/mule/getEmployeeById.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getEmployeeByIdFlow" doc:id="6ea9b938-f516-45dc-aa21-de09f9d0f1c2" >
		<http:listener doc:name="Listener" doc:id="3e44b8b6-9024-4152-9714-afce07d03616" config-ref="HTTP_Listener_config" path="/getEmployee/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="bd48b89a-59a5-43e9-827f-1132b6cff712" variableName="id"/>
		<db:select doc:name="Select" doc:id="5c7968b0-5519-4979-977a-fa72b4451b55" config-ref="Database_Config">
			<db:sql >SELECT * FROM employee WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:vars.id
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ebd4774d-4050-4371-8ced-3ef564ab1002" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
