src/main/mule/getEmployeeByQueryParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getEmployeeByQueryParamsFlow" doc:id="cb163a3b-b1ad-468b-981f-f423de2777e8" >
		<http:listener doc:name="Listener" doc:id="977cee1d-0225-42db-95d3-94dbff283373" config-ref="HTTP_Listener_config" path="/getEmployeeByQuery"/>
		<db:select doc:name="Select" doc:id="63258eb5-663e-46ce-974a-737823f56091" config-ref="Database_Config">
			<db:sql >SELECT * FROM employee WHERE firstName = :name AND role = :role</db:sql>
			<db:input-parameters ><![CDATA[#[{
	'name' : attributes.queryParams.'name',
	'role': attributes.queryParams.'role'
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3b527483-f086-4ee9-ac0f-193a79cc3752" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
