src/main/mule/postEmployee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="postEmployeeFlow" doc:id="b4514ac3-cf96-4cc4-a392-0e0ea486f147" >
		<http:listener doc:name="Listener" doc:id="57e99abf-f098-47cc-a26d-83dd1ce62cba" config-ref="HTTP_Listener_config" path="/createEmployee"/>
		<db:insert doc:name="Insert" doc:id="3ed8cba0-46e1-4a78-8fea-ec4e30ff70a3" config-ref="Database_Config">
			<db:sql >INSERT INTO employee(id, firstName, lastName, age,role) VALUES (:id,:firstName,:lastName,:age,:role);
</db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:payload.id,
	firstName: payload.firstName,
	lastName: payload.lastName,
	age: payload.age,
	role: payload.role
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="fb42c3ff-32a0-4adc-be08-2327c3206a34" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Employee created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
